*~
*.swp
*.o
*.gcda
*.gcno
cscope.out
cscope.files
cppcomplete.tags
tags
core
vgcore.*
*.so
lib*.so.*
lib*.a
lib*.la
*.lo
Makefile
Makefile.in
TAGS
.deps/
.libs/
.src
.dirstamp
/aclocal.m4
/autom4te.cache/
/config/
/config.h.in
/config.log
/config.status
/configure
/configure.args
/libtool
/external/
/l2vermajor
/bin
/include
/share

